<a href="https://colab.research.google.com/github/leadeeerq/machine-learning/blob/main/ML1_Kodowanie_i_standaryzacja_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kodowanie danych

In [ ]:
# pd.get_dummies()
# Funkcja pozwalająca zamienić dane kategoryczne na numeryczne - tworzy nowe kolumny z 0 i 1 w zależności od kategorii

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(list('abca'))
s

0    a
1    b
2    c
3    a
dtype: object

In [ ]:
s = pd.get_dummies(s)
s

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

# Standaryzacja danych

In [ ]:
# Standaryzacja danych
# (x-x.mean())/x.std()